/* Layout ---------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;

}
/* Fim do layout  -------------------------*/


/* smartfone protrait --------------------------------- */

main {
    height: 70vh;
    /* para posicionar dois blocos relecionados, devemos determinar um um como relativo outro como absoluto (Tecnica para centralizar um texto ou um video de background ) */
    position: relative;
}

main video {
    width: 100%;
    height: 100%;
    /* Usado para cobrir todo  o contaiiner */
    object-fit: cover;
}

#textoBanner {
    /* Centralizar o conteudo */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#textoBanner h1 {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 25px;
}

#textoBanner h2 {
    color: white;
}

/* smartfone fim ----------------------------------------*/


/* Nootebook /PC --------------------------------- */

@media (min-width: 1200px) {
    main {
        height: 95vh;
    }

        #textoBanner h1 {
        font-size: 4rem;
        
    }

    #textoBanner h2 {
        font-size: 2rem;
    }
}


/* Fim do notebook --------------------------------- */