.container{
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.vermelho{
    width: 256px;
    height: 256px;
    border: 1px solid #000;
    background-color: #ff0404;
}

.verde{
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    background-color: #36ff04;
}

.azul{
    width: 256px;
    height: 256px;
    border: 1px solid #000;
    background-color: #0804ff;
}